plugins_origin/*
explayer/_internal/*
explayer/logs/*
explayer/media/*
plugins_change/*
explayer/avcodec-58.dll
explayer/avdevice-58.dll
explayer/avfilter-7.dll
explayer/avformat-58.dll
explayer/avutil-56.dll
explayer/config.py
explayer/explayer.exe
explayer/ffmpeg.cfg
explayer/ffmpeg.exe
explayer/ffprobe.exe
explayer/history.yaml
explayer/postproc-55.dll
explayer/swresample-3.dll
explayer/swscale-5.dll